<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.openathena">

    <!-- If your app doesn't need to access media files that other apps created,
         set the "maxSdkVersion" attribute to "28" instead. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"
        android:minSdkVersion="30" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <!-- Chromebook compatibility -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.type.pc" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.compass" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="false"/>

    <!-- starting in API 19+, WRITE is not required to read/write
         in our own application dirs
         <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        -->

    <application
        android:name=".AthenaApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="true"
        android:icon="@drawable/athena48"
        android:label="@string/app_name"
        android:roundIcon="@drawable/athena48"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenAthenaAndroid"
        android:largeHeap="true"
        tools:targetApi="31">
        <activity
            android:name=".ActivityLog"
            android:exported="false"
            android:label="@string/title_activity_log"
            />
        <activity
            android:name=".PrefsActivity"
            android:exported="false"
            android:label="@string/title_activity_prefs"
            />
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="@string/title_activity_about"
             />
        <activity
            android:name=".SelectionActivity"
            android:exported="true"
            android:label="@string/title_activity_selection"
            />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
